* { margin: 0; }

html, body {
    height: 100%;
}

body {
    font-family: 'Noto Color Emoji', sans-serif;
    overflow: hidden;

    text-shadow: -5px -5px 0 #fff, 5px -5px 0 #fff, -5px 5px 0 #fff, 5px 5px 0 #fff;
    user-select: none;

    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.croc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-size: 40vh;
    text-align: center;
}